body {
	margin: 0 auto;
	padding: 0;
}

#header {
	background: url(images/canvas2.jpg)no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.logo {
	height: 160px;
	width: 100%;
	background-image: url(images/logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 50%;
	margin-top: -80px;
}


#header-mobile {
	background: url(images/canvas2.jpg)no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	overflow: hidden;
	height: 600px;
	display: none;
}

.logo-mobile {
	height: 160px;
	width: 100%;
	background-image: url(images/logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 50%;
	margin-top: -80px;
}


.pencil {
	width: 960px;
	height: 700px;
	background-image: url(images/pencil.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	left: 50%;
	top: 320px;
	margin-left: -480px;
}

.ruler {
	width: 960px;
	height: 800px;
	background-image: url(images/ruler.png);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	right: 50%;
	margin-right: -480px;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
}

.container h2 {
	font-size: 25pt;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 40px;
}


/**************************************
----------------PROCESS----------------
**************************************/

.process {
	width: 70%;
  	height: 215px;
  	margin: 0 auto;
  	margin-bottom: 70px;
	background-image: url(images/process.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.about-process {
	width: 50%;
  	height: 230px;
  	background-image: url(images/about-process.svg);
  	background-repeat: no-repeat;
  	background-size: contain;
 	background-position: center;
  	margin: 70px auto;
}

.mobile-image {
		display: none;
		width: 100%;
	}

/**************************************
----------------ABOUT------------------
**************************************/


.about {
	background: #323232;
	width: 100%;
	overflow: auto;
	color: white;
	font-family: Myriad Pro, Helvetica;
}

.about-content {
	width: 55%;
	margin: 0 auto;
}

.about p{
	font-weight: 300;
	font-size: 14pt;
	line-height: 1.5;
	margin-top: 100px;
	margin-bottom: 125px;
}

.about img{
	float:left;
	border-radius: 50%;
	margin-right: 30px;
	margin-top: -40px;
	margin-bottom: 80px;
}

.about-content h2 {
  text-align: center;
  font-size: 30pt;
  font-family: 'Roboto Slab', serif;
}

#portfolio-bar {
	width: 100%;
	background: white;
}

#portfolio-bar h2{
	color: #323232;
 	font-family: 'Roboto Slab', serif;
  	background: #F0F0F0;
  	text-align: center;
  	font-size: 30pt;
  	margin: 0;
  	padding: 40px;
}


/**************************************
----------------GALLERY----------------
**************************************/

.thumb {
	width: 33.33334%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
	float:left;
	position: relative;
}

.portfolio {
	overflow: auto;
}

#brad {
	background-image: url(images/brad.jpg);
}

#curves {
	background-image: url(images/curves.jpg);
}

#coco {
	background-image: url(images/coco.jpg);

}

figcaption {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

figcaption:hover {
	opacity: 1;
}

figcaption:hover a{
	left: 0;
	opacity: 1;
}


figcaption a {
	line-height: 1.5;
	padding: 5px;
	padding-left: 20px;
 	background: #0A0A0A;
    position: absolute;
  	color: white;
  	width: 200px;
  	top: 380px;
  	font-family: myriad pro, helvetica;
  	text-decoration: none;
  	left: -25%;
  	opacity: 0;
  	transition: all 0.4s ease-in-out;
}



/**************************************
----------------FOOTER-----------------
**************************************/


#footer {
	height: 200px;
	background: white;
	margin: 0 auto;
	width: 100%;
}

#twitter {
	width: 38px;
	height: 38px;
	overflow: hidden;
	float: left;
}

#twitter img{
	/*transition: all 0.3s ease-in-out;*/
}

#twitter:hover img{
	-webkit-transform: translate(0, -39px) ;
	-moz-transform: translate(0, -39px) ;
	-o-transform: translate(0, -39px) ;

}

#facebook {
	width: 38px;
	height: 38px;
	overflow: hidden;
	float: left;
}

#facebook img{
	/*transition: all 0.3s ease-in-out;*/
}

#facebook:hover img{
	-webkit-transform: translate(0, -39px) ;
	-moz-transform: translate(0, -39px) ;
	-o-transform: translate(0, -39px) ;
}

#email {
	width: 38px;
	height: 38px;
	overflow: hidden;
	float: left;
}

#email img{
	/*transition: all 0.3s ease-in-out;*/
}

#email:hover img{
	-webkit-transform: translate(0, -39px) ;
	-moz-transform: translate(0, -39px) ;
	-o-transform: translate(0, -39px) ;
}

.social {
	margin-right: 30px;
	margin-top: 20px;
}

#links {
	width: 80%;
	margin: 0 auto;
	padding-top: 60px;
}

#connect {
	display: block;
}

#connect span {
	font-family: 'Roboto Slab', serif;
	font-style: italic;
	font-size: 15pt;
}


#up {
	width: 38px;
	height: 38px;
	overflow: hidden;
	float: right;
}
#up:hover img{
	-webkit-transform: translate(0, -39px) ;
	-moz-transform: translate(0, -39px) ;
	-o-transform: translate(0, -39px) ;
}

#phone {
	width: 200px;
	float: left;
	font-family: 'Roboto Slab', serif;
	font-size: 14pt;
	line-height: 0;
}

#phone span {
	font-size: 16pt;
	font-weight: bold;

}



/**************************************
----------------RESPONSIVE-------------
**************************************/


@media screen and (max-width: 860px){
	.mobile-image {
		display: inline !important;
	}

	.process {
		height: auto;
		width: 80%;
		background-image: none;
	}

	.about-process {
		width: 80%;
	}

	.about img {
		float: none;
		display: block;
		margin-right: 0;
		margin-top: 0;
		width: 100%;
	}

	.about p {
		text-align: center;
	}

	.thumb {
		width: 80%;
		height: 300px;
		display: block;
		background-position: center;
		margin: 0 auto;
		margin-top: 20px;
		float: none;
		border: #e2e2e2 solid 1px;
	}

	.portfolio {
		margin-top: 20px;
		margin-bottom: 40px;
	}

	figcaption {
		opacity: 1;
	}

	figcaption a{
		top: 250px;
		left: 0;
		opacity: 1;
	}

	#footer {
		border-top: #e2e2e2 solid 1px;
	}

	#header {
		display: none;
	}

	#header-mobile {
		display: inline-block;
  		width: 100%;
	}

	.logo-mobile {
		height: 150px;
		width: 100%;
		background-image: url(images/logo.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 50%;
		margin-top: -75px;
}

@media(max-width: 650px){

}








